<!doctype html>
<html>
<head>
<title>Lucterios</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="media/lucterios.css" />
<script src="js/vendor/angular.js"></script>
<script src="js/vendor/angular-scroll.js"></script>
<script src="js/vendor/angular-translate.js"></script>
<script src="js/vendor/angular-translate-loader-static-files.js"></script>
<script src="js/vendor/angular-sanitize.js"></script>
<script src="js/lucterios.js"></script>
</head>
<body ng-app="lucteriosApp" ng-controller="lucteriosCtrl" scroll-root>
	<div class="block" scroll-item="home">
		<h1 translate="home.title"></h1>
		<div>
			<p translate="home.para1"></p>
			<p translate="home.para2"></p>
			<p translate="home.para3"></p>
			<p translate="home.para4"></p>
		</div>
	</div>
	<div class="joint"></div>
	<div class="block" scroll-item="description">
		<h1 translate="description.title"></h1>
		<div>
			<p translate="description.para1"></p>
			<p translate="description.para2"></p>
			<p translate="description.para3"></p>
			<p translate="description.para4"></p>
			<p translate="description.para5"></p>
		</div>
	</div>
	<div class="joint"></div>
	<div class="block" scroll-item="install">
		<h1 translate="install.title"></h1>
		<div>
			<p translate="install.para1"></p>
		</div>
	</div>
	<div class="joint"></div>
	<div class="block" scroll-item="developper">
		<h1 translate="developper.title"></h1>
		<div>
			<p translate="developper.para1"></p>
		</div>
	</div>
	<div class="joint"></div>
	<div class="block" scroll-item="about">
		<h1 translate="about.title"></h1>
		<div>
			<p translate="about.para1"></p>
		</div>
	</div>
	<div class="header">
		<img src="media/logo.gif" alt="Lucterios">
		<h1>Lucterios</h1>
		<div class="header-btn">
			<a href="#"><img alt="FR" src="media/fr.png" ng-click="setLang('fr_FR')"></a>
			<a href="#"><img alt="EN" src="media/en.png" ng-click="setLang('en_US')"></a>
			<button ng-click="scrollTo('home')" translate="home.button" />
			<button ng-click="scrollTo('description')"
				translate="description.button" />
			<button ng-click="scrollTo('install')" translate="install.button" />
			<button ng-click="scrollTo('developper')"
				translate="developper.button" />
			<button ng-click="scrollTo('about')" translate="about.button" />
		</div>
	</div>

</body>
</html>
